/*  your css code here. If applicable */
body{
background-color: rgb(204, 204, 204);
}
h1{
text-align:center;
}
a{
	text-decoration:none;
		
}
li{
list-style-type:none;
}
ul{
border:2px solid black;
	margin:20px;
	padding:50px;
	border-radius:3%;
	background-color:white;

}
h2,h2{
	text-align:center;
}
#box{
	margin:50px;
	border:2px solid black;
	padding:20px;
	border-radius:2%;
	background-color:white;
}
h4{
text-align:start;
}

	
